.flexbox_outside {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.flexbox_inside {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}

nav {
    display: inline-block;
}

/* unvisited link */
a:link {
    color: #FF9900;
}

/* visited link */
a:visited {
    color: #dcd0c1;
}


@media only screen and (orientation: portrait) {
    .flexbox_outside {
        flex-direction: column;
    }
}