.result_text {
    color: #dcd0c1
}

.selection_summary {
    color: #dcd0c1
}

button {
    color: #FF9900;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 5px;
}

h2 {
    color: #f9f9f9;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    color: #f9f9f9;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nobr {
    white-space: nowrap;
}

.supsub {
    display: inline-block;
    margin: -9em 0;
    vertical-align: -0.55em;
    line-height: 1.35em;
    font-size: 70%;
    text-align: left;
}


.flexbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.chart-wrapper {
    display: block;
    width: 95vw;
    min-width: 800px;
    max-width: 95vw;
    height: 50vh;
    min-height: 300px;
    max-height: 50vh;
    border-radius: 20px;
    background-attachment: fixed;
}

.loadingdiv {
    display: flex;
    flex-direction: row;
}

::ng-deep.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #FF9900;
    display: inline-flex;
}

::ng-deep.mat-progress-spinner .mat-spinner {
    display: inline-flex;
}

#timer {
    display: inline-flex;
    font-size: 4rem;
    margin: 0px;
    padding: 5px;
}

@media only screen and (orientation: portrait) {
    .flexbox {
        flex-direction: column;
    }
}
