<div class="impressum_content">
    <h1 class="impressum_head">Impressum</h1>

    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG | Information according to &sect; 5 TMG</h2>
    <p>Jan-Eric Nitschke<br />
        Hochschulstra&szlig;e 16<br />
        01069 Dresden</p>

    <h2>Contact</h2>
    <p>Phone: 017647160530<br />
        E-Mail: janericnitschke@outlook.de</p>

    <p>Source: <a
            href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a>
    </p>
</div>
