<div class="flexbox">
    <mat-form-field appearance="outline">
        <mat-label>{{Name}}</mat-label>
        <input matInput type="text" [attr.aria-label]="Name" [formControl]="contentCtrl" [matAutocomplete]="auto"
            #autoInput #trigger="matAutocompleteTrigger">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)='addElement($event.option.value)'
            [displayWith]="displayNull">
            <mat-option *ngFor="let add_content of filteredContent | async" [value]="add_content"
                (click)="$event.stopPropagation(); trigger.openPanel()">
                {{add_content}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <ul>
        <li *ngFor="let remove_content of ContentSelected">
            <button class="dynamic_button" (click)="removeElement(remove_content)">{{remove_content}}</button>
        </li>
    </ul>
</div>
