button {
    color: #FF9900;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 5px;
}

.flexbox {
    display: flex;
    flex-direction: row;
    /* row for  wide monitor, column for rest */
}

.dynamic_button {
    font-size: 20px;
    margin: 0px;
    /* padding: 0px; */
    text-align: center;
    width: auto;
}

.dynamic_button:hover {
    background-color: #8d150c;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 20px;
    padding: 0px;
    overflow: hidden;
    background-color: #232F3E;
    margin: 0px;
    flex-wrap: wrap;
}

li {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

::ng-deep .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #FF9900 !important;
    font-size: 16px !important;
    transform: translateY(-20px) !important;

}

::ng-deep .mdc-text-field:not(.mdc-text-field-disabled) .mdc-floating-label {
    color: #FF9900 !important;
    font-size: 16px !important;
    transform: translateY(-20px) !important;
}

::ng-deep .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    color: #FF9900 !important;
    font-size: 16px !important;
    top: 27px !important;
    left: 0px !important;
}

::ng-deep .mat-mdc-form-field .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
    color: #FF9900 !important;
    font-size: 16px !important;
    transform: translateY(-20x) !important;
}


::ng-deep .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: #FF9900 !important;
    font-size: 16px !important;
}

::ng-deep .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input::placeholder {
    color: #FF9900 !important;
    font-size: 16px !important;
}

::ng-deep .mdc-text-field--outlined.mdc-text-field:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
::ng-deep .mdc-text-field--outlined.mdc-text-field:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
::ng-deep .mdc-text-field--outlined.mdc-text-field:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
    border-color: #FF9900 !important;
    border-width: 2px !important;
}



::ng-deep .mdc-text-field--outlined.mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched--outline .mdc-notched-outline__leading,
::ng-deep .mdc-text-field--outlined.mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched--outline .mdc-notched-outline__notch,
::ng-deep .mdc-text-field--outlined.mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched--outline .mdc-notched-outline__trailing {
    border-color: #FF9900 !important;
}


::ng-deep .mdc-text-field--outlined.mdc-text-field:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading,
::ng-deep .mdc-text-field--outlined.mdc-text-field:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch,
::ng-deep .mdc-text-field--outlined.mdc-text-field:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
    border-color: #FF9900 !important;
    border-width: 2px !important;
}

::ng-deep .mdc-notched-outline__notch {
    border-left: none !important;
  }

::ng-deep .mat-mdc-form-field {
    height: 35px !important;
    margin: 0.25em 0 !important;
}


::ng-deep .mat-mdc-text-field-wrapper {
    height: 35px !important;
    width: 150px !important;

}

::ng-deep .mat-mdc-input-element {
    top: -10px !important;
    position: relative !important;

}
