label {
    color: #FF9900;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 5px;
}

.map_hull {
    max-width: 88vmin;
    width: 70vw;
    height: auto;
}

.flexbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media only screen and (orientation: portrait) {
    .map_hull {
        width: 97vw;
        max-width: 97vw;
    }
}